/*!
 * author colin(韩国梁)
 * theme angel
 */

@import "variables.less";
@import "reset.css";
@import (less)"./src/index.less";

::selection{
	background:@select-background;
	color:#fff;
	text-shadow:none;
}


.disquis-container{
	margin-top: 20px;
	background: #fff;
	padding: 10px 20px;
}
.affit-fix{
	position: fixed;
	top:0;
	width: 320px;
}

