.article{
	margin-top: 20px;
	background: #fff;
	padding: 20px;
	overflow: hidden;
	.artice-header{
		margin-bottom: 20px;
		h2{
			a{
				font-size: 32px;
				color: lighten(#000, 20%);
				transition: color 200ms ease-in;
				&:hover{
					color:#000;
				}
			}
			margin-bottom: 5px;
		}
		.article-meta{
			span{
				display: inline-block;
				margin-right: 20px;
			}
			a{
				color:lighten(#000, 30%);
				&:hover{
					color:#000;
					text-decoration: underline;
				}
			}
		}
	}
	p{
		margin: 12px 0;
		font-size: 16px;
	}
	/*详情页列表 样式*/
	h3{
		font-size: 20px;
		font-weight: bold;
	}
	.article-page-wrapper{
		margin: 20px 0 20px 0;
		padding-top: 10px;
		font-size: 18px;
		font-weight: bold;
		border-top: 1px solid #dadada;
		overflow: hidden;
		.prev{
			float: left;
		}
		.next{
			float: right;
		}
		.preTitle,.nextTitle{
			margin-left: 5px;
		}
		a{
			color:lighten(#333, 30%);
			&:hover{
				color:#333;
			}
		}
	}
}