.logo:extend(.text-center){
	margin: 18px 0 5px 0;
	font-size:48px;
	a{
		display: inline-block;
		/* background:url('../img/myName.png'); */
		/* width: 240px; */
		height: 81px;
		line-height: 81px;
		color:#333;
		font-family: "Microsoft Yahei";
		font-weight: bolder;
		&:hover{
			color: darken(#333, 30%);
		}
	}
}