/* .widget-myself -> dl.info+ img.photo */
.widget-myself{
	.info-container{
		padding: 20px 10px;
		overflow: hidden;
	}
	.info{
		font-size: 15px;
		line-height: 1.6;
		text-align: center;
	}
	dt,dd{
		display: inline-block;
	}
	.photo{
		border-radius: 50%;
		width: 150px;
		height: 150px;
		line-height: 150px;
		display: block;
		margin: 0 auto 15px auto;
	}
	a{
		color:#333;
	}
}

.widget-myself-detail{
	.info-container{
		padding: 20px;
	}
	.info{
		width: auto;
		line-height: 2;
		float: left;
		text-align: left;
	}
	.photo{
		float: right;
		width: 150px;
		height: 150px;
		margin: 0;
	}
}