pre,textarea{overflow:auto}
body,h3{font-size:1.4rem}
*,input[type=search]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.inner,.navbar,sub,sup{position:relative}
.btn,.logo,.navbar,.paging-navigation,.text-center{text-align:center}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
body,html{height:100%}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:62.5%}
body{margin:0;line-height:1.5;color:#333;background-color:#fff}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
.btn,.inline-block,.logo a{display:inline-block}
a{background:0 0;text-decoration:none;-webkit-tap-highlight-color:transparent;color:#08c}
a:active{outline:0;color:#069}
abbr[title]{border-bottom:1px dotted}
b,optgroup,strong{font-weight:700}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;vertical-align:middle}
svg:not(:root){overflow:hidden}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:border-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{resize:vertical}
.article,.inner,.widget-area .widget .tags-cloud,.widget-area .widget ul li a,.widget-area-detail,.widget-myself .info-container{overflow:hidden}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
button,html,input,select,textarea{font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif}
blockquote,figure,form,h1,h2,h3,h4,h5,h6,p{margin:0}
dd,dl,li,ol,ul{margin:0;padding:0}
ol,ul{list-style:none}
h1,h2,h3{line-height:2;font-weight:400}
h1{font-size:1.8rem}
h2{font-size:1.6rem}
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc}
*{box-sizing:border-box}
/*!
 * author colin(韩国梁)
 * theme angel
 */
.inner{width:960px;margin:0 auto}
.inner .content{width:620px}
.inner .siderbar-container{width:320px}
.inner .content,.pull-left{float:left}
.inner .siderbar-container,.pull-right{float:right}
.wrapper{background:#ebebeb;padding-bottom:40px}
.footer{background:#dadada}
.footer .footer-copyright{padding:20px 0}
.logo{margin:18px 0 5px;font-size:48px}
.logo a{background:url(../img/myName.png);width:240px;height:81px;line-height:81px;text-indent:-1999em}
.navbar{background:gray;-webkit-box-shadow:0 1px 3px;-moz-box-shadow:0 1px 3px;-ms-box-shadow:0 1px 3px;-o-box-shadow:0 1px 3px;box-shadow:0 1px 3px}
.navbar .navbar-ul li{display:inline-block;vertical-align:top}
.navbar .navbar-ul li a:hover,.navbar .navbar-ul li.active a{color:#333}
.navbar .navbar-ul li.active{font-weight:bolder}
.navbar .navbar-ul li a{padding:10px 20px;display:block;color:#fff;font-size:24px;transition:color 200ms ease-in}
.article{margin-top:20px;background:#fff;padding:20px}
.article .artice-header{margin-bottom:20px}
.article .artice-header h2{margin-bottom:5px}
.article .artice-header h2 a{font-size:32px;color:#333;transition:color 200ms ease-in}
.article .artice-header h2 a:hover{color:#000}
.article .artice-header .article-meta span{display:inline-block;margin-right:20px}
.article .artice-header .article-meta a{color:#4d4d4d}
.article .artice-header .article-meta a:hover{color:#000;text-decoration:underline}
.article p{margin:12px 0;font-size:16px}
.article h3{font-size:20px;font-weight:700}
.article .article-page-wrapper{margin:20px 0;padding-top:10px;font-size:18px;font-weight:700;border-top:1px solid #dadada;overflow:hidden}
.article .article-page-wrapper .prev{float:left}
.article .article-page-wrapper .next{float:right}
.article .article-page-wrapper .nextTitle,.article .article-page-wrapper .preTitle{margin-left:5px}
.article .article-page-wrapper a{color:grey}
.article .article-page-wrapper a:hover{color:#333}
.btn{padding:10px 15px;border:1px solid transparent;font-weight:400;font-size:15px;line-height:1.5;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;white-space:none;background-image:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn.btn-warning{color:#fff;background-color:#f39c12;border-color:#f39c12}
.btn.btn-warning:active,.btn.btn-warning:focus,.btn.btn-warning:hover{background-color:#c87f0a;border-color:#c87f0a}
.paging-navigation{margin:40px 0}
.paging-navigation .nav-links{width:100%;line-height:1}
.paging-navigation li{display:inline-block}
.paging-navigation li a{display:inline-block;padding:10px 15px;font-size:22px;background-color:#18bc9c;color:#fff}
.paging-navigation li a:hover{background-color:#24e3be}
.paging-navigation li.active a{background-color:#24e3be;cursor:text}
.screen-reader-text{position:absolute!important;clip:rect(1px,1px,1px,1px)}
.widget-area{background:0 0}
.widget-area .widget{background:#fff;margin-top:20px}
.widget-area .widget .widget-title{font-size:18px;padding:5px 0;text-indent:20px;border-bottom:1px solid #ECF0F1}
.widget-area .widget ul{padding:10px 20px}
.widget-area .widget ul li{padding:5px 0}
.widget-area .widget ul li a{display:block;white-space:nowrap;text-overflow:ellipsis;color:#4d4d4d}
.widget-area .widget ul li a:hover{color:#000}
.widget-area .widget .tags-cloud li{float:left;margin-right:5px}
.widget-area .widget .tags-cloud a{border:1px solid #ededed;padding:5px 10px}
.widget-area .widget .friendly-link a{border:none;padding-left:0}
.widget-area-detail .widget{float:left;width:300px;margin-right:20px}
.widget-area-detail .widget-1{margin-left:10px}
.widget-area-detail .widget-3{margin-right:-10px}
.widget-myself .info-container{padding:20px 10px}
.widget-myself .info{font-size:15px;line-height:1.6;text-align:center}
.widget-myself dd,.widget-myself dt{display:inline-block}
.widget-myself .photo{border-radius:50%;width:150px;height:150px;line-height:150px;display:block;margin:0 auto 15px}
.widget-myself a{color:#333}
.widget-myself-detail .info-container{padding:20px}
.widget-myself-detail .info{width:auto;line-height:2;float:left;text-align:left}
.widget-myself-detail .photo{float:right;width:150px;height:150px;margin:0}
::selection{background:#f39c12;color:#fff;text-shadow:none}